
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EnCloud</title>

  <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>
  <%- include(`partials/${view}`) %>
</body>
</html>
