
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p><bold>hahaha</bold></p>
  <%= include(view) %>
  <script>require('./index.js')</script>
</body>
</html>
